/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 96px;
    width: 100%;
    border-bottom: 1px solid rgba(46,62,72,.12);
    padding: 18px;
}

#logo {
    width: 123.2px;
}

.MuiLink-root {
    font-size: 14px;
}

/* home-body */

#home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* upper-body */

#upper-body {
    display: flex;
    align-items: center;
    height: 179px;
    width: 100%;
    border-bottom: 1px solid rgba(46,62,72,.12);
}

#upper-body-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.hosted-by {
    display: flex;
    margin-top: 20px;
}

.hosted-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: 50%;
    margin-right: 20px;
}

.button {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    height: 42px;
    width: 104px;
    font-weight: bold !important;
    text-transform: none !important;
    border-radius: 8px !important;
}

/* body */

#body {
    display: flex;
    height: 1620px;
    width: 100%;
    background: #f6f7f8;
    border-bottom: 1px solid rgba(46,62,72,.12);
}

#body-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 !important;
}

.group-img {
    height: 56px;
    width: 56px;
    border-radius: 4px;
    margin-right: 20px;
}


/* global */

a {
    color: #00a2c7;
    text-decoration: none;
}